# ====================================================================
# Operating System Files
# ====================================================================
# macOS
.DS_Store
.AppleDouble
.LSOverride
