*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.header-info,
.footer-links,
.main-content {
  box-sizing: border-box;
}

.header-info.bg-loaded::before {
  opacity: 1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
  color: #AFAFAF;
  min-height: 100vh;
  background-color: #001235; /* fallback / color at the very bottom */
  background-image: linear-gradient(
    to bottom,
    #001235 0%,
    #001235 75%
  );
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #0B2F3C;
}

.navbar .navbar-link {
  font-size: 15px;
  color: #AFAFAF;
  text-decoration: none;
  margin-right: 15px;
}
.navbar .navbar-link:hover {
  color: #8C8C8C;
  text-decoration: underline;
}

.header-info {
  /* padding: 30px;
  padding-bottom: 75px; */
  text-align: center;
  font-size: 35px;
  width: 100% !important;
  color: #AFAFAF;
  background-image:
    linear-gradient(to bottom, transparent 50%, #001235 100%),
    url('../../images/TechBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.header-info .intro-image {
  height: 450px;
  width: 450px;
  border-radius: 50%;
  margin: 0 auto;
}

.header-info h2 {
  font-size: 35px;
}

.header-info p {
  font-size: 20px;
}

.main-content .intro {
  margin-top: 75px;
  margin-bottom: 45px;
  padding: 30px;
  background-color: #0B2F3C;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-content .bio {
  margin-bottom: 75px;
  padding: 30px;
  background-color: #0B2F3C;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#bio-container,
#image-container,
#contact-me {
  scroll-margin-top: 30px;
}

.main-content .what-i-work-on {
  padding: 30px;
  background-color: #0B2F3C;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 45px;
}

.main-content .hobbies {
  padding: 30px;
  background-color: #0B2F3C;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer-links {
  padding: 30px;
  flex-direction: row;
  justify-content: space-between;
  width: 100% !important;
}

.footer-links .footer-header {
  margin: 0 auto;
  text-align: center;
}

.footer-links ul {
  list-style: disc;
}

.footer-links a {
  
  text-decoration: none;
  color: #AFAFAF;
}

.footer-links a:hover {
  color: #8C8C8C;
  text-decoration: underline;
}