*, *::before, *::after {
  box-sizing: border-box;
}

.header-info,
.footer-links,
.main-content {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: #f1f1f1;
  margin: 0;
  padding: 3.5%;
}

/* Style the header */
.header-info {
  /* background-color: #666; */
  padding: 30px;
  text-align: center;
  font-size: 35px;
  width: 100% !important;
}

.header-info h2 {
  font-size: 35px;
  /* color: white; */
}

.header-info p {
  font-size: 20px;
  /* color: white; */
}

.footer-links {
  /* background-color: #777; */
  padding: 10px;
  /* color: white; */
  /* display: flex; - not needed for now */
  flex-direction: row;
  justify-content: space-between;
  width: 100% !important;
}

.footer-links ul {
  list-style: square;
}

.footer-links a {
  /* color: white; */
  text-decoration: none;
}

.footer-links a:hover {
  /* color: #666666; */
  text-decoration: underline;
}